.side-bar{
    padding: 3rem 2rem;
    height: 100vh;
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    background-color: var(---primary-background-dark);
    color: var(---primary-offset-light);
}

.logo {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.side-bar-options {
    height: 50vh;
    cursor: pointer;
}
